---
layout: layouts/home.njk
eleventyNavigation:
  key: About
  order: 1
---

<h1>Blog Archive</h1>

<section>
  <p>
    Welcome to the blog archive of <a href="https://www.savageevan.com/">Evan Savage</a>.
    This is a collection of links to various places I've blogged in the past.  I've also
    brought over my old <a href="#qs_posts">Quantified Self</a> posts, largely
    because several of those included code snippets and interactive explanations that I
    wanted to preserve.
  </p>
  <p>
    There's also the old <a href="#savageinternet_posts">Savage Internet</a> posts, from back
    when <a href="https://valkyriesavage.com/">Valkyrie</a> and I ran our consulting practice
    (with designs on branching out into educational games).
  </p>
  <p>
    For what I'm writing / thinking about now, <a href="https://www.savageevan.com/">visit my new blog</a>.
  </p>
</section>

<section id="work_blogs">
  <h2>Work Blogs</h2>

  <ul>
    <li><a href="https://medium.com/move-project">MOVE Project (2018-2020)</a>: team blog from my Code for Canada work</li>
    <li><a href="https://candu.github.io/presentations/">Interactive Presentations</a>: collection of interactive presentation slides from previous workshops and talks I've held</a>
  </ul>
</section>

<section id="guest_articles">
  <h2>Guest Articles and Interviews</h2>

  <ul>
    <li><a href="https://medium.com/code-for-canada/why-im-coding-for-canada-evan-savage-8337b63db333">Why I'm Coding for Canada</a>: article about why I previously chose to work in civic tech</a>
    <li><a href="https://soundcloud.com/green-majority/science-it-works-baby-551">Science: It Works, Baby!</a>: from 18:30 onwards, an interview with CIUT about the 2017 March for Science Toronto</a>
  </ul>
</section>

<section id="travel_blogs">
  <h2>Travel Blogs</h2>
  <ul>
    <li><a href="https://ootscoot.savageinter.net/">Oot 'n' a'scoot (2016)</a>: Vespa trip moving from San Francisco to Toronto</li>
    <li><a href="https://ramblelust.savageinter.net/">Ramblelust (2013)</a>: meandering around Australia and Southeast Asia</li>
    <li><a href="https://biketotheearth.savageinter.net/">Bike to the Earth (2010)</a>: 6-month-long bike trip in Europe</li>
  </ul>
</section>

<section id="qs_posts">
  {% set maxPosts = collections.qs.length | min(5) %}
  <h2>Quantified Self posts</h2>

  <p>A selection of posts from my old Quantified Self blog, which mostly focused on self-tracking and personal data analysis with some detours into other technical topics.  More posts can be found in <a href="{{ '/qs-archive/' | url }}">the archive</a>.</p>

  {% set postslist = collections.qs | head(-5) %}
  {% set postslistCounter = collections.qs | length %}
  {% include "postslist.njk" %}
</section>

<section id="savageinternet_posts">
  <h2>Savage Internet posts</h2>

  <p>
    Posts from the old <a href="https://www.savageinter.net/">Savage Internet</a> blog.  Some were written by <a href="https://valkyriesavage.com/">Valkyrie</a>, others by myself; when I find time, I'll add proper attribution here.
    If you want a page with just these posts, see <a href="{{ '/savageinternet-archive/' | url }}">the archive</a>.
  </p>

  {% set postslist = collections.savageInternet %}
  {% set postslistCounter = collections.savageInternet | length %}
  {% include "postslist.njk" %}
</section>

<section>
  <p>
    <a href="https://www.savageevan.com/">Visit my new blog</a>.
  </p>
</section>
