---
layout: layouts/home.njk
permalink: /savageinternet-archive/
---

<h1>Savage Internet Archive</h1>

<section id="posts">
{% set postslist = collections.savageInternet %}
{% include "postslist.njk" %}

<p>
  Go <a href="{{ '/' | url }}">back to home</a>,
  or <a href="https://www.savageevan.com/">visit my new blog</a>.
</p>
</section>
