---
layout: layouts/base.njk
templateClass: tmpl-home
---
<section id="banner">
  <div id="headshot">
    <img src="/img/evan_triangle.png" alt="Evan Savage" />
  </div>
</section>

{{ content | safe }}
